@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$text: rgb(221, 209, 209);
$text-strong: white;
$title-color: white;
$subtitle-color: rgb(240, 229, 229);
$background: #595959;
$scheme-main: #595959;
$scheme-main-bis: #424242;
$link: rgb(177, 177, 177);
$border: #796f6f;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

html,
body {
  background-color: $background;
  color: $text;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow: hidden;
}
